@media (min-width: 992px) {
    .trader-profile {
        flex-wrap: wrap;
    }
}

.traderInfoWrap {
    flex: 0;
    flex-basis: 350px;
    background: #f9f9f9;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
    position: relative;
    z-index: 1;
}

.traderScoreWrap {
    flex: 1;
    padding: 0;
}
