.header {
    background: #fff;
    box-shadow: 0 0 24px #0000001a;
    position: relative;
    z-index: 10;
}

.header .header-inner {
    display: flex;
    max-width: 1500px;
    margin: auto;
    align-items: center;
    height: 85px;
    padding: 0 10px;
}

.header .branding img {
    width: 200px;
}

.header .navigation {
    display: flex;
    list-style: none;
    flex: 1;
    padding: 0;
    margin: 0 0 0 50px;
}

.header .navigation a {
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
    padding: 0 17px;
    color: #0c0c0c;
    text-decoration: none;
}

.header .navigation a:hover {
    color: #535353;
}

.header .navigation a.active {
    color: #2187fa;
    font-weight: 700;
}

.account-menu-wrap {
    position: relative;
    margin-left: 20px;
}

.account-menu-wrap .account-menu {
    position: absolute;
    z-index: 1;
}

.account-menu-wrap .account-menu {
    opacity: 0;
}

.account-menu-wrap .account-menu.open-account-menu {
    opacity: 1;
}

.account-menu-wrap {
    position: relative;
}

.account-menu-wrap .account-menu {
    position: absolute;
    opacity: 0;
    z-index: 10;
    right: 0;
    margin-top: -1000px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.account-menu-wrap .account-menu.account-menu-open {
    opacity: 1;
    margin-top: 10px;
}

button.toggle-account-menu {
    display: flex;
    background: none;
    border: none;
    align-items: center;
    outline: none;
    cursor: pointer;
}

button.toggle-account-menu .profilePhoto img {
    width: 35px;
}

button.toggle-account-menu .profilePhoto {
    background: #f5f5f5;
    border-radius: 50%;
    border: 1px solid #Ddd;
}

button.toggle-account-menu .down-arrow img {
    width: 15px;
    opacity: 0.3;
}

button.toggle-account-menu .down-arrow {
    margin-left: 8px;
}

.account-menu-wrap .account-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.account-menu-wrap .account-menu ul li a, .account-menu-wrap .account-menu ul li button {
    background: #ffffff;
    width: 100%;
    border: none;
    display: block;
    text-align: center;
    padding: 14px 0;
    font-size: 13px;
    text-decoration: none;
    color: #2c2d70;
    margin: 1px 0;
    border-bottom: 1px solid #f1f1f1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.account-menu-wrap .account-menu ul li:last-child a, .account-menu-wrap .account-menu ul li:last-child button {
    border: none;
}

.header-labeled-badge {
    padding: 10px;
    text-align: center;
}

.header-labeled-badge .label {
    color: #1e87fa;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 1.5px;
    margin-bottom: 2px;
}

.header-labeled-badge .value {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2fb1ff+15,1d72f8+84 */
    background: #2fb1ff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #2fb1ff 15%, #1d72f8 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #2fb1ff 15%,#1d72f8 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #2fb1ff 15%,#1d72f8 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fb1ff', endColorstr='#1d72f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: #fff;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 4px;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .header .header-inner {
        padding: 0 15px;
    }
    .header .branding img {
        width: 150px;
    }
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
/*.bm-burger-bars-hover {
    background: #a90000;
}*/

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #ffffff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.bm-burger-button {
    right: 20px;
    left: auto;
    top: 34px;
    height: 17px;
    width: 24px;
    outline: none;
}

.bm-burger-button button {
    outline: none;
}

.bm-burger-button .bm-burger-bars {
    border-radius: 10px;
}

.bm-menu .navigation {
    list-style: none;
    flex: 1;
    margin: 10px 0;
    padding: 0;
}

.bm-menu .navigation a {
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
    padding: 0;
    margin: 20px 0;
    color: #0c0c0c;
    text-decoration: none;
    display: block;
}

.bm-menu .navigation a:hover {
    color: #535353;
}

.bm-menu .navigation a.active {
    color: #2187fa;
    font-weight: 700;
}


.bm-menu .header-inner {
    display: flex;
    flex-wrap: wrap;
}

.bm-menu .branding {
    width: 100%;
    margin-bottom: 20px;
}

.bm-menu .navigation {
    flex: 100%;
}

.bm-menu .account-menu-wrap {
    margin-top: 10px;
    margin-left: 0;
}

.bm-menu .header-labeled-badge.score {
    padding-left: 0;
    flex: 1;
}

.bm-menu button.toggle-account-menu {
    display: none;
}

.bm-menu .account-menu {
    position: relative;
    box-shadow: none;
    opacity: 1;
    margin-top: 10px;
}

.bm-menu .account-menu-wrap .account-menu ul li a, .bm-menu .account-menu-wrap .account-menu ul li button {
    background: #eee;
    border-radius: 5px;
    margin-bottom: 6px;
}

nav.bm-item-list {
    box-sizing: border-box;
}

@media screen and (min-width: 850px) {
    .bm-burger-button {
        display: none;
    }
}

@media screen and (max-width: 849px){
    .header .header-inner > * {
        display: none;
    }

    .header .header-inner .branding {
        display: block;
    }
}
