.score-line-chart {
    background: white;
}

.y-axis-tick text {
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    fill: #868686;
}

.y-axis-tick line {
    stroke: #868686;
}

.y-axis-line {
    stroke: #868686;
}

.x-axis-tick text {
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    fill: #8686867d;
}

.x-axis-tick line {
    stroke: #86868636;
}

.x-axis-line {
    stroke: #8686865e;
}

g.x-axis-legend-wrap {
    transform: translateY(-40px);
}

.x-axis-tooltip {
    transform: translateY(-53px) translateX(-50%);
    background: #2c2d70 !important;
    color: #fff !important;
    min-width: 110px;
    text-align: center;
}

.y-axis-tooltip {
    transform: translateX(-51px) translateY(-50%);
    width: 51px;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: #2c2d70 !important;
    color: #fff !important;
    text-align: center;
    padding: 6px 0 !important;
}

.chart-tooltips {
    position: absolute;
    left: calc(50% - 25px);
    transform: translateX(-50%);
    bottom: 64px;
    z-index: 10;
    display: block;
}

.chart-tooltips > * {
    transform: translateY(-53px) translateX(-50%);
    background: #0000000d !important;
    color: #2c2d70 !important;
    text-align: center;
    border-radius: 4px;
    font-size: 13px;
    padding: 4px 10px;
    display: inline;
    margin: 0 3px;
}

@media screen and (min-width: 992px) {
    .chart-tooltips > * {
        font-size: 16px;
        padding: 7px 14px;
        display: inline;
        margin: 0 7px;
    }
}

@media screen and (max-width: 1200px) {
    .chart-tooltips {
        top: auto;
        bottom: 50px;
    }
}
